<!-- <div class="main-container">
  <div class="container">
    <button class="run-test-btn" (click)="onRunTestClick()">Run Test</button>
  </div>
</div> -->
<!-- src/app/app.component.html -->
<div class="main-container">
  <div class="container">
    <!-- Trigger Puppeteer test -->
    <button class="run-test-btn" (click)="onRunTestClick()" [disabled]="disableButton">
      {{ disableButton ? 'Running...' : 'Run Test' }}
    </button>

    <!-- Display the live video stream -->
    <div *ngIf="videoUrl">
      <img [src]="videoUrl" alt="Puppeteer Stream" width="1280" height="720" />
    </div>
  </div>
</div>
